<html>
    <head></head>
    <body>

        <h2>COLETA DE DADOS DE CRIMES NO ESTADO PARÁ DO UTLIZANDO WEB CRAWLER</h2>
        <p>No momento os dados coletados são apenas de um único site de noticia "DOL"</p>
        <form action="{{url_for('tabela')}}" >
        <button type="submit" value="tabela">Gerar Tabela</button>
       </form>
    </body>
</html>